@import '../../../marketplace.css';

.highlights{  
  text-align: center;
  color:white;
  padding-top: 20px;
 
}
.PromotionBackground{
  background-color: #82c3ff;
  padding: 20px;
  
}

.StartingFrom{
  color: darkgray;
  font-style: italic;
  font-size: 12px;
  float: right;
}

.StartingFromCurrency{
  color: dodgerblue;
  float: right;
}

.cardBody{
  background-color: #fff;
  padding: 10px;
}
.colMarginBottom{
  padding-bottom: 20px;
}
