@import '../../../marketplace.css';

.highlights{  
  text-align: center;
  color:white;
  padding-top: 20px;
 
}
.PromotionBackground{
  background-color: #82c3ff;
  
}
.PromotionMargin{
  margin: 50px;
  padding: 20px;
}

.StartingFrom{
  float: right;
  color: darkgray;
  font-style: italic;
  font-size: 12px;
<<<<<<< HEAD
  padding-left: 30px; 
=======
>>>>>>> 8cf0c81213824515c2f02551a3b18cf344427886
}
.SpecialWeekPackageContent{ 
  padding-bottom: 20px;
}

.StartingFromCurrency{
  float: right;
  color: dodgerblue;
<<<<<<< HEAD
  padding-left: 30px; 
=======
>>>>>>> 8cf0c81213824515c2f02551a3b18cf344427886
}


.imageWrapper {  

  &:hover {
    transform: scale(1.01);
   
  }
}