
# Mandatory configuration
#
REACT_APP_SHARETRIBE_SDK_CLIENT_ID=30f8598e-499b-4367-ae17-07d3af5fae19
REACT_APP_GOOGLE_MAPS_API_KEY=AIzaSyAka1mELp20WmmRt2ooMXnbOFGXIMKeE-A
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk*test*

# Defaults
#

#REACT_APP_SHARETRIBE_SDK_BASE_URL=http://localhost:8088

REACT_APP_SHARETRIBE_SDK_BASE_URL=https://flex-api.sharetribe.com

REACT_APP_SHARETRIBE_MARKETPLACE_CURRENCY=USD
REACT_APP_CANONICAL_ROOT_URL=http://localhost:3000

# This is overwritten by configuration in .env.development and
# .env.test. In production deployments use env variable and set it to
# 'production'
#REACT_APP_ENV=production

REACT_APP_ENV=development


# Options. Uncomment and set to test.
#

 #REACT_APP_SHARETRIBE_USING_SSL=true
 #SERVER_SHARETRIBE_TRUST_PROXY=true
#REACT_APP_PUBLIC_SENTRY_DSN=change-me
#SERVER_SENTRY_DSN=change-me
#REACT_APP_CSP=report
#BASIC_AUTH_USERNAME=sharetribe
#BASIC_AUTH_PASSWORD=secret
#REACT_APP_GOOGLE_ANALYTICS_ID=change-me