@import '../../marketplace.css';


/*.heroContainer {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  min-height: 50px;*/
 
/*  max-height: 300px;*/
/*  padding: 0;*/

/*  @media (--viewportMedium) {*/
/*    min-height: 50px;   */
/*    max-height: none;*/
/*  }*/

/*  @media (--viewportLarge) {*/
/*    min-height: 400px;   */
/*  }*/
/*}*/

.MainSearchContainer{
  margin-right: 30px;
  margin-left: 30px;
 


  @media (--viewportMedium) {
   margin-top: 20px;
  
  }

  @media (--viewportLarge) {
    margin-top: 20px;
  }
}


.error {
  color: var(--failColor);
}

.searchString {
  /* Search string should not break on white spaces - i.e. line-break should happen before. */
  white-space: nowrap;
}

.searchFilters {
  display: none;

  @media (--viewportMedium) {
    display: flex;
    padding: 0 24px;
    margin-bottom: 21px;
  }

  @media (--viewportLarge) {
    padding: 0 36px;
  }
}

.searchFiltersMobile {
  padding: 16px 24px;

  @media (--viewportMedium) {
    display: none;
  }
}

.searchFiltersPanel {
  flex-grow: 1;
  display: flex;
  padding: 0 24px 24px 24px;

  @media (--viewportLarge) {
    padding: 0 36px 36px 36px;
  }
}

.listings {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.newSearchInProgress {
  opacity: 0.1;
}

.searchListingsPanel {
  flex-grow: 1;
}

.mapPanel {
  @media (--viewportMedium) {
    /**
     * .container is using flexbox,
     * This specifies that mapPanel is taking 34% from the viewport width
     */
    flex-basis: 50%;

    /* Own layout settings */
    display: flex;
    height: 100%;
  }

  @media (--viewportLarge) {
    flex-basis: 37.5%;
  }
}

