@import '../../marketplace.css';

.latestAdditions {
  @apply --marketplaceH1FontStyles;

  margin-top: 0;
 

}

.title {
  color: white;
  text-align: center;
}

.unorderList{
  margin-left: 10px;
  color: white;
}
.orderedList {
  padding-right: 20px;
}
.latestspan{

 padding-left: 50px;
 
}