@import '../../marketplace.css';

.latestAdditions {
 font-size: 26px;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.tdata {
  padding-right: 50px;
  padding-bottom: 10px;
}

.latestTable{
  margin-left: 30px;
  font-size: 16px;
}
