@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */

  --LandingPage_sectionMarginTop: 0px;
  --LandingPage_sectionMarginTopMedium: 4px;
  --LandingPage_sectionMarginTopLarge: 4px;

  --SectionHero_desktopTitleMaxWidth: 1000px;
  --SectionHero_animation: {
    animation-name: animationTitle;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;

   
    opacity: 1;
   
  }
  
}
.highlights{  
  text-align: center;
  color:rgb(0, 89, 255);
 
}
.recently {
  color: black;
  text-align: center;
  padding-top: 20px;
}
/* heroContainer gives the height for SectionHero */
/* Safari has a bug with vw padding inside flexbox. Therefore we need an extra div (container) */
/* If you've lot of content for the hero, multiple lines of text, make sure to adjust min-heights for each media breakpoint accordingly */
.heroContainer {
  display: flex;
  flex-direction: column;
  

  @media (--viewportMedium) {
  
   
  }

  @media (--viewportLarge) {
  
  }
}

.heroContainerTwo{
  display: flex;
  flex-direction: column;
  background-color:##f7f4f4;
  padding: 30px;
  margin-bottom: 20px;


  @media (--viewportMedium) {
    padding: 30px;
    margin-bottom: 20px;
  }

  @media (--viewportLarge) {
    padding: 30px;
    margin-bottom: 20px;
  }
}
.latestReview {
  margin-left: 50px;
  margin-right: 50px;
}
.hero {
  flex-grow: 1;
  justify-content: flex-end;
  
  @media (--viewportMedium) {
    padding-bottom: 83px;
  }

  @media (--viewportLarge) {
    justify-content: center;
    padding-top: 60px;
  }
}

.sections {
  margin: 0;
  padding-top: 1px;
}

.section {
  overflow: auto;
}

/* Square corners for the last section if it's even */
.section:nth-of-type(2n):last-of-type {
  @media (--viewportMedium) {
    border-radius: 4px 4px 0 0;
  }
}

/* Every other section has a light background */
.section:nth-of-type(2n) {
  background-color: var(--matterColorLight);
  @media (--viewportMedium) {
    border-radius: 4px;
  }
}

.sectionContent {
  margin: var(--LandingPage_sectionMarginTop) 4px 11px 4px;

  @media (--viewportMedium) {
    margin: var(--LandingPage_sectionMarginTopMedium) 7.5vw 40px 7.5vw;
  }

  @media (--viewportLarge) {
    max-width: calc(1052px + 36px + 36px);
    margin: var(--LandingPage_sectionMarginTopLarge) auto 43px auto;
    padding: 0 36px 0 36px;
  }
}

/* A bar on top of light sections */
.section:nth-of-type(2n) .sectionContent:before {
  background: var(--marketplaceColor);
  content: '';
  display: block;
  width: 109px;
  height: 6px;

  /* Place the bar on top of .sectionContent top margin */
  position: relative;
  top: calc(-1 * var(--LandingPage_sectionMarginTop));

  @media (--viewportMedium) {
    width: 192px;
    height: 8px;
    top: calc(-1 * var(--LandingPage_sectionMarginTopMedium));
  }

  @media (--viewportLarge) {
    top: calc(-1 * var(--LandingPage_sectionMarginTopLarge));
  }
}


.heroMainTitle {
 
  @apply --marketplaceH1FontStyles;
  color: var(--matterColorLight);
  @apply --SectionHero_animation;
  animation-delay: 0.5s; 
  position: absolute;    
    margin: 8%;
  
  

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
    position: absolute;
    margin: 8%;
  }
}



.sectionLocationBackground{
  background-color:whitesmoke;
}