@import '../../marketplace.css';

.highlights{  
  text-align: center;
  color:dodgerblue;
  padding-top: 10px;
 
}

.thumbnailContent{
  padding-top: 20px;
}

.thumbnailHeader{
  color: black;
  font-size: 18px;
  padding-bottom: 20px;
  
  padding-top: 10px;
}

.imageWrapper {  
  &:hover {
    transform: scale(1.01);
   
  }
}