@import '../../marketplace.css';

.highlights{  
  text-align: center;
  color:dodgerblue;
  padding-top: 20px;
 
}
.PromotionBackground{
  background-color: #fff;
}
.PromotionMargin{
  margin: 50px;
  padding: 20px;
}

.thumbnailContent{
  padding-top: 20px;
}

.thumbnailHeader{
  color: black;
  font-size: 18px;
  padding-bottom: 20px;
  
  padding-top: 10px;
}

.imageWrapper {  
  &:hover {
    transform: scale(1.01);
   
  }
}