@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */



  
}
.root {
}

/* heroContainer gives the height for SectionHero */
/* Safari has a bug with vw padding inside flexbox. Therefore we need an extra div (container) */
/* If you've lot of content for the hero, multiple lines of text, make sure to adjust min-heights for each media breakpoint accordingly */
.heroContainer {
  display: flex;
  flex-direction: column;
  min-height: 200px;
 
  max-height: 300px;
  padding: 0;

  @media (--viewportMedium) {
    min-height: 300px;   
    max-height: none;
  }

  @media (--viewportLarge) {
    min-height: 400px;   
  }
}

.hero {
  flex-grow: 1;
  justify-content: flex-end;
  padding-bottom: 0;

  @media (--viewportMedium) {
    padding-bottom: 20px;
  }

  @media (--viewportLarge) {
    justify-content: center;
    padding-top: 60px;
  }
}

.givemargin{
  margin: 30px;
  padding: 30px;
}
