@import '../../marketplace.css';

.root {
  /* Layout */
  display: flex;
  flex-direction: column;

  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;
  }
}
.container { 
  background-color: lightgray;
}
.cardTitle{ 
  color:black;
  font-size: 18px;
  padding: 5px;
}
.priceUnitLeft{
  background-color: black;
  color: white;
  padding: 3px;
}

.cardPricediv{
  padding: 5px; 
  }

.authorName{
  padding: 5px;
  color:black;
 
}
.titleThree{
  bottom:8px;
  margin-left: 0;
  padding-left: 0;
  color: #3539ff;
  @apply --marketplaceH3FontStyles;
}

.threeToTwoWrapper {
  /* Layout */
  display: block;
  width: 100%;
  position: relative;
  transition: var(--transitionStyleButton);

  &:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowListingCard);
  }
}

/* Firefox doesn't support image aspect ratio inside flexbox */
.aspectWrapper {
  padding-bottom: 66.6667%; /* 3:2 Aspect Ratio */
  background: var(--matterColorNegative); /* Loading BG color */
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: var(--borderRadius);
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}
